.ui.modal.advanced
  %i.close.icon
  .header
    Advanced Search
  .content
    .left
      Content can appear on left
    .right
      Content can appear on right
  .actions
    .ui.button Cancel
    .ui.button OK
