.ui.modal.book
  %i.close.icon
  .header
    Book our Paris to Boston teleporter !
  .content
    .destination
    %form.ui.input
      %input{placeholder: "Enter your name here...", type: "text"}/
  .actions
    .ui.button Cancel
    .ui.button OK