%form#search.ui.form.segment.sidebar.top.icon.input{onsubmit: 'return false'} 
  .two.fields
    .field
      %input.search{placeholder: "Enter a start point here...", type: "text", name:"from"}/
    .field
      %input.search{placeholder: "Enter a destination point here...", type: "text", name:"to"}/
  .ui.teal.small.submit.button.search Submit