.ui.form.sidebar.top.icon.input{onsubmit: 'return false'} 
  %form#search
    .three.fields
      .field
        %input.search{placeholder: "Enter a start point here...", type: "text", name:"from"}/
      .field
        %input.search{placeholder: "Enter a destination point here...", type: "text", name:"to"}/
      .field
        .ui.icon.button.search
          %i.icon.settings