%script#travels_tpl{type: "x-tmpl-mustache"}
  {{#travels}}
  .item{'data-id'=>'dd4fg7d9d8f7cvh6g67'}
    .content
      .meta {{departure_date}}
      .name {{{from.name}}} to {{{to.name}}}
      %p.description {{description}}
    .item.ui.button.teal.book Book this travel !
    .miles {{distance}} miles
    .extra
      {{places}} places
  {{/travels}}
.ui.items.travels
