body
  background-color: $site-color
  margin: 0
  font-family: 'Open Sans', sans-serif
.main
  background-color: $site-color
  .ui.menu.views
    margin-bottom: 0px
.ui.sidebar.left
  background-color: #57102C
  width: 240px !important
.ui.top.sidebar
  background-color: #57102C
    height: 50px !important
  @media screen and (max-width: $break-small)
    height: 110px !important
.ui.icon.button.search
  @media screen and (max-width: $break-small)
    visibility: hidden
    display: none
.ui.items
  padding-top: 5px
  > .item
    min-height: 260px
    width: 215px
.ui.items .item>.content>.name
  font-size: 1em
  em
    color: red

